.card{
    background-color:#5596F6 !important;
    border-radius:15px;
    height: 200px; ;
    
}

.photo{
    width: 20px;
    height: 20px;
}

.container-design{
    width:1100px;
     display: flex;
      background-color:#FFFFFF;
       padding-left:50px;
        box-shadow:10px 10px;
         padding-bottom:50px;
}